*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    border: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner{
    background: url(../img/1.jfif) center top / cover no-repeat fixed;
    height: 20rem;
    width: 100%;
}